<% include head.ejs %>
<body>
    <h1>Hello <%= name %> , welcome to your code book!</h1>

    <div class="show list">
        <h2>Code List</h2>
        <hr />
        <div class="show_code_list">
            <table id="table"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-toolbar="#toolbar"
                   data-click-to-select="true">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id">ID</th>
                    <th data-field="platform">Platform</th>
                    <th data-field="account">Account</th>
                    <th data-field="code">Code</th>
                </tr>
                </thead>

                    <tbody>
                        <% for (i  in accountList){%>
                        <tr data-index=<% i %> data-checkbox="true">
                            <td align="center"><input name="btSelectItem" type="checkbox"></td>
                            <td><% 1 %></td>
                            <td><%= i.account_type %></td>
                            <td><%= i.account %></td>
                            <td><%= i.password %></td>
                        </tr>
                        <%}%>
                    </tbody>
            </table>
        </div>
        <div>
            <button id="del">Delete selected Accounts</button>
        </div>
    </div>

    <div class="add account">
        <h2>Add New Accounts</h2>
        <hr/>
        <div class="add_account">
            <form id="add_form" method="post" action="/add_account">
                <div>
                    <p>
                        Please choose the platform here:
                        <select name="select_" id="select_account"  onchange="selChange()">
                            <option value ="QQ" selected="selected">QQ</option>
                            <option value ="Wechat">Wechat</option>
                            <option value="Sina Weibo">Sina Weibo</option>
                            <option value="CSDN">CSDN</option>
                            <option value="GitHub">GitHub</option>
                            <option value="others">--</option>
                        </select>
                        if not shown in the list,please enter here>>
                        <input id="input_platform" name="input_platform" type="text"  disabled="disabled">
                    </p>
                </div>
                <div>
                    <p>
                        Your account:
                        <input name="input_account" type="text" placeholder="account" >
                    </p>
                </div>
                <div>
                    <p>
                        Your code:
                        <input id="input_code" name="input_code" type="text" placeholder="code" >
                    </p>
                </div>
                <div>
                    <p>
                        Retype code:
                        <input name="R_input_code" type="text" placeholder="Retype code" >
                    </p>
                </div>
                <div>
                    <input type="submit"  value="Submit" />
                </div>
                    <input name="name" hidden value="<%=name%>">
                    <input name="password" hidden value="<%=password%>">

            </form>
        </div>
    </div>
</body>
<% include footer.ejs %>